<VirtualHost *:{{ item.apache_vhost.port }}>
    ServerAdmin webmaster@{{ item.apache_vhosts.name }}
    ServerName {{ item.apache_vhosts.name }}
    DocumentRoot {{ item.apache_vhosts.document_root }}
    # Add other configuration here
</VirtualHost>
