<VirtualHost *:{{ item.apache_vhost_port }}>
    ServerAdmin webmaster@{{ item.apache_vhost_name }}
    ServerName {{ item.apache_vhost_name }}
    DocumentRoot {{ item.apache_vhost_document_root }}
    # Add other configuration here
</VirtualHost>
